In [10]:
import pandas as pd
import calendar

df = pd.read_csv('customer_service_dataset_2024_2025.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4602 entries, 0 to 4601
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           4602 non-null   object
 1   Submitter                      4602 non-null   object
 2   Ticket ID                      4602 non-null   object
 3   Ticket Category                4602 non-null   object
 4   First Response Time Minutes    4602 non-null   int64
 5   First Resolution Time Minutes  4602 non-null   int64
 6   Full Resolution Time Minutes   4602 non-null   int64
 7   Satisfaction Score             4602 non-null   object
dtypes: int64(3), object(5)
memory usage: 287.8+ KB

In [12]:
# Add column = Year, Month, isFCR

# 1. Convert Date column to datetime objects
df['Date'] = pd.to_datetime(df['Date'])

# 2. Extract Year and Month
year_col = df['Date'].dt.year
month_col = df['Date'].dt.month

# 3. Insert Year and Month at specific positions
# Position 0 is 'Date', so we insert 'Year' at index 1 and 'Month' at index 2
df.insert(1, 'Year', year_col)
df.insert(2, 'Month', month_col)

# 4. Create 'isFCR' (First Contact Resolution) 
# Usually, FCR is True if First Resolution = Full Resolution
df['isFCR'] = df['First Resolution Time Minutes'] == df['Full Resolution Time Minutes']

# Display the first few rows to verify
df.head()

,Date,Year,Month,Submitter,Ticket ID,Ticket Category,First Response Time Minutes,First Resolution Time Minutes,Full Resolution Time Minutes,Satisfaction Score,isFCR
0,2024-01-01,2024,1,Customer_181,TCK103555,Billing,192,868,1688,Good,False
1,2024-01-01,2024,1,Customer_381,TCK101976,Billing,158,134,43,Bad,False
2,2024-01-01,2024,1,Customer_628,TCK103050,Technical,53,1268,2530,Good,False
3,2024-01-01,2024,1,Customer_64,TCK101136,General Inquiry,62,51,3089,Bad,False
4,2024-01-01,2024,1,Customer_173,TCK100978,Technical,126,748,3963,Bad,False

In [13]:
# Transform Months column. From 1,2,3 to January, February, March

# Map the integer (1-12) to the month name
df['Month'] = df['Month'].apply(lambda x: calendar.month_name[x])

# View the result
df.head()

,Date,Year,Month,Submitter,Ticket ID,Ticket Category,First Response Time Minutes,First Resolution Time Minutes,Full Resolution Time Minutes,Satisfaction Score,isFCR
0,2024-01-01,2024,January,Customer_181,TCK103555,Billing,192,868,1688,Good,False
1,2024-01-01,2024,January,Customer_381,TCK101976,Billing,158,134,43,Bad,False
2,2024-01-01,2024,January,Customer_628,TCK103050,Technical,53,1268,2530,Good,False
3,2024-01-01,2024,January,Customer_64,TCK101136,General Inquiry,62,51,3089,Bad,False
4,2024-01-01,2024,January,Customer_173,TCK100978,Technical,126,748,3963,Bad,False

In [16]:
# Transform Year column. From integer to string

# Convert Year from int32 to string (object)
df['Year'] = df['Year'].astype(str)

# Verify the change
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4602 entries, 0 to 4601
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           4602 non-null   datetime64[ns]
 1   Year                           4602 non-null   object
 2   Month                          4602 non-null   object
 3   Submitter                      4602 non-null   object
 4   Ticket ID                      4602 non-null   object
 5   Ticket Category                4602 non-null   object
 6   First Response Time Minutes    4602 non-null   int64
 7   First Resolution Time Minutes  4602 non-null   int64
 8   Full Resolution Time Minutes   4602 non-null   int64
 9   Satisfaction Score             4602 non-null   object
 10  isFCR                          4602 non-null   bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(6)
memory usage: 364.2+ KB

In [17]:
# Rename column header

# Alternatively, a more automated way to lowercase everything and replace spaces:
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Display the updated headers
print(df.columns)

Index(['date', 'year', 'month', 'submitter', 'ticket_id', 'ticket_category',
       'first_response_time_minutes', 'first_resolution_time_minutes',
       'full_resolution_time_minutes', 'satisfaction_score', 'isfcr'],
      dtype='object')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4602 entries, 0 to 4601
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           4602 non-null   datetime64[ns]
 1   year                           4602 non-null   object
 2   month                          4602 non-null   object
 3   submitter                      4602 non-null   object
 4   ticket_id                      4602 non-null   object
 5   ticket_category                4602 non-null   object
 6   first_response_time_minutes    4602 non-null   int64
 7   first_resolution_time_minutes  4602 non-null   int64
 8   full_resolution_time_minutes   4602 non-null   int64
 9   satisfaction_score             4602 non-null   object
 10  isfcr                          4602 non-null   bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(6)
memory usage: 364.2+ KB

In [19]:
# Export the DataFrame to a new CSV file
df.to_csv('cleaned_cs_key metrics.csv', index=False)

print("File exported successfully!")

File exported successfully!

In [21]:
print("HELLO WORLD");

HELLO WORLD